body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

h2 {
  text-align: center;
}

.forgot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  display: flex;
  width: 800px; /* Aumentar el ancho */
  height: 500px; /* Aumentar la altura */
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}


.form-section {
  flex: 1;
  padding: 40px; /* Aumentar el padding para más espacio */
}

.form-section h2 {
  margin-bottom: 20px;
}

.form-section input {
  width: 100%;
  padding: 12px; /* Aumentar el padding de los inputs */
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.recover-button {
  width: 108%;
  padding: 12px; /* Aumentar el padding del botón */
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 18px; /* Aumentar el tamaño de la fuente */
  cursor: pointer;
}

.recover-button:hover {
  background-color: #0056b3;
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 15px; /* Aumentar el margen superior */
}

.create-account {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
}

.create-account:hover {
  text-decoration: underline;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px; /* Ancho del modal */
  text-align: center; /* Centrar el texto */
}

.modal-content h2 {
  margin-bottom: 15px; /* Espaciado inferior */
}

.modal-content input {
  margin-bottom: 10px; /* Espaciado inferior */
  padding: 10px;
  width: 90%; /* Ancho completo */
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal-content button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #007bff; /* Color del botón */
  color: white;
  cursor: pointer;
  margin: 5px; /* Espaciado entre botones */
}

.modal-content button:hover {
  background-color: #0056b3; /* Color del botón al pasar el mouse */
}
